*{
  background-blend-mode: soft-light;
}

body {
  margin-top: 11rem;
  height: 99vh;
  background-image: url("../images/heart.jpg");
  background-size: cover;
  color:aliceblue;
  font-family: Impact, comic sans, 'Arial Narrow Bold', sans-serif,'comic sans ms', 'comic sans', cursive;
}



#alienGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 3rem;
    padding: 1rem;
    justify-content: center;
    max-width:1800px;
    grid-auto-rows: 400px;
  }

  div > .card{
    background-image: url("../images/space.jpg");
    background-blend-mode: lighten;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    padding: 55px;
    border-radius: 330px;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 10px 5px rgba(130, 228, 12, 0.9),
    inset -5px -5px 10px blue;
    color:white
  }

  .select{
    background-image: url("../images/space.jpg");
    background-color: rgba(130, 228, 12, 0.9);
    border-radius: 330px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 1.5rem;
    font-family: Impact, comic sans, 'Arial Narrow Bold', sans-serif,'comic sans ms', 'comic sans', cursive;
  }
   .card:hover {
    scale: 1.1;
    box-shadow: 0 0 20px 5px rgba(130, 228, 12, 0.9);
    filter: invert(100%);

  } 
  .image-container {
    height: 100%;
    width: auto;
    justify-content: space-between;
    align-items: center;
;
  }
  
  /*images*/
  .image-container * {
    width: 100%;
    height: auto;
    border-radius: 333px;
  }

  .quote {
    color:rgba(130, 228, 12, 0.9);
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    font-family: Impact, comic sans, 'Arial Narrow Bold', sans-serif,'comic sans ms', 'comic sans', cursive;;
  }

  nav {
    background-image: url("../images/space.jpg");
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav select {
    background-color: rgba(130, 228, 12, 0.9);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
  }

  nav select option {
    background-color: rgba(130, 228, 12, 0.9);
    color: rgb(0, 0, 0);

  }

  



